#appBg{
    height: 460px;
    width: 300px;
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
}

#appBg form{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#appBg input[type=textfield]{
    height: 25%;
    width: 90%;
    cursor: default;
    font-family: 'Roboto', 'sans-serif';
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}

#appBg input[type=button],input[type=reset]{
    width: 22%;
    cursor: pointer;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}

#appBg .orange{
    background-color: rgb(107, 116, 58);
    color: rgb(187, 255, 0) !important;
}


#appBg .gray{
    background-color: rgb(51, 51, 51);
    color: rgb(187, 255, 0) !important;
}

#appBg .cero{
    background-color: rgb(51, 51, 51);
    width: 47% !important;
    color: rgb(187, 255, 0) !important;
}


